<h1>Tweet</h1>

<div class="tweet">
  <p><strong>Author:</strong> <%= @tweet.author.username %></p>
  <p><strong>Body:</strong> <%= @tweet.body %></p>
  <p><strong>Created at:</strong> <%= @tweet.created_at %></p>
</div>

<%= button_to 'Sign Out', destroy_author_session_path, method: :delete %>
<%= link_to 'Back to Feed', web_tweets_path %>
