<h1>Author Profile</h1>
<p>Name: <%= @author.name %></p>
<p>Lastname: <%= @author.lastname %></p>
<p>Username: <%= @author.username %></p>
<p>Bio: <%= @author.bio %></p>
<p>Date joined: <%= @author.created_at %></p>
